---
import Navigator from "../components/Navigator.astro";
import Presentation from "../components/Presentation.astro";
import Stack from "../components/Stack.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";
import Enterprise from "../components/Enterprise.astro";
import About from "../components/About.astro";
import Data from "../components/Data.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Hey there, I’m Camilo 👋">
  <main id="main" class="container mx-auto fade-in-top">
    <Navigator />
    <Presentation />
    <Stack />
    <Projects />
  </main>
  <Services />
  <Enterprise />
  <About />
  <Data />
  <Footer />

  <!-- <a href="#hi" type="button" class="to-top">
    <svg
      fill="#000000"
      height="30px"
      width="30px"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 330 330"
      xml:space="preserve"
    >
      <path
        id="XMLID_224_"
        d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
   l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
   C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"
      ></path>
    </svg>
  </a> -->
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.0625rem;
    background: linear-gradient(
      90deg,
      #9ca3af 0%,
      rgba(156, 163, 175, 0) 39.47%,
      rgba(156, 163, 175, 0) 50%,
      rgba(156, 163, 175, 0) 60.51%,
      #9ca3af 100%
    );
  }

  .text {
    color: #6b7280;
    text-align: center;

    /* Body sm / tracking-2 / SemiBold */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
  }
  .to-top {
    background-color: white !important;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    border: 1px solid #1f1f1f;
  }

  .active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }

  .fade-in-top {
    -webkit-animation: fade-in-top 0.6s ease-out both;
    animation: fade-in-top 0.6s ease-out both;
  }
  @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<script>
  const toTop = document.querySelector("#to-top");

  window.addEventListener("scroll", () => {
    if (window.pageYOffset > 100) {
      if (!toTop) return;
      toTop.classList.add("active");
    } else {
      if (!toTop) return;
      toTop.classList.remove("active");
    }
  });
</script>
