---
import Navigator from "../components/Navigator.astro";
import Presentation from "../components/Presentation.astro";
import Stack from "../components/Stack.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hey there, I’m Camilo 👋">
  <main id="main" class="container mx-auto fade-in-top">
    <Navigator />
    <Presentation />
    <Stack />

    <!-- Projects Component -- TODO: Make card design-->
    <section
      id="work"
      class="flex flex-col items-center gap-12 py-28 mx-auto max-w-7xl"
    >
      <article class="flex w-full items-start gap-2 px-20">
        <h2 class="font-semibold text-3xl lg:text-5xl lg:leading-[3.75rem]">
          The work I do, <br /> and business I help.
        </h2>
      </article>
      <article
        class="flex w-full p-4 lg:p-0 items-start justify-around flex-wrap gap-8"
      >
        <section class="flex flex-col shadow-md rounded-md">
          <img alt="Adicustom" src="/projects/adidas-project.png" />
          <div class="flex flex-row justify-around items-center">
            <h3 class="text-xl font-semibold leading-4">Adicustom</h3>
            <div class="flex flex-row justify-end gap-x-6 py-6 [&>img]:w-8">
              <img src="/images/typescript-gray.svg" alt="VueJs" />
              <img src="/images/vue-gray.svg" alt="VueJs" />
              <img src="/images/node-gray.svg" alt="ReactJs" />
            </div>
          </div>
        </section>

        <section class="flex flex-col shadow-md rounded-md">
          <img alt="Nikecustom Caps" src="/projects/nike-project.png" />
          <div class="flex flex-row justify-around items-center">
            <h3 class="text-xl font-semibold leading-4">Nike Caps</h3>
            <div class="flex flex-row justify-end gap-x-6 py-6 [&>img]:w-8">
              <img src="/images/js-gray.svg" alt="VueJs" />
              <img src="/images/react-gray.svg" alt="ReactJs" />
              <img src="/images/node-gray.svg" alt="NodeJS" />
            </div>
          </div>
        </section>
      </article>
    </section>
  </main>
  <!-- End Projects Component -->

  <!-- Services Component -->
  <section
    id="services"
    class="flex flex-col gap-10 items-center py-28 mx-auto max-w-7xl"
  >
    <aside
      class="md:p-8 lg:p-0 w-full flex rounded-md bg-blue-box items-center gap-3 shrink-0"
    >
      <div
        class="flex flex-col lg:flex-row items-center justify-center gap-6 mx-auto"
      >
        <div
          class="flex w-full xl:w-[30.5rem] py-6 px-14 flex-col items-start gap-8"
        >
          <div class="flex w-full flex-col items-start gap-4 self-stretch">
            <div class="flex flex-col self-stretch">
              <h3 class="text-5xl font-semibold leading-10">
                What I do for my customers
              </h3>
            </div>
            <div class="flex flex-col self-stretch">
              <p class="text-base font-normal">
                Develop web and mobile applications, improve the performance of
                the platforms used and platforms and advise clients on
                infrastructure changes or or improve the functionality of their
                products.
              </p>
            </div>
          </div>
          <a
            type="button"
            href="mailto:camilohreina.dev@gmail.com"
            class="relative cursor-pointer inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              CONNECT WITH ME
            </span>
          </a>
        </div>
        <!-- Card Customer-->
        <div
          class="flex rounded-lg shadow-lg bg-white xl:w-[18.75rem] p-8 flex-col items-start gap-8"
        >
          <div class="w-[2.25rem] h-[2.25rem]">
            <img src="/icons/monitor.png" alt="Monitor" class="" />
          </div>
          <div class="flex flex-col gap-4 self-stretch">
            <h3 class="text-2xl font-semibold leading-8">
              Software Development
            </h3>
            <p class="text-base font-normal leading-7">
              Developing websites and web applications, new features or
              utilities. Passionate about solving problems.
            </p>
          </div>
        </div>
        <!--End  Card Customer-->
        <aside class="flex flex-col gap-16">
          <!-- Card Customer-->
          <div
            class="flex rounded-lg shadow-lg bg-white xl:w-[18.75rem] p-8 flex-col items-start gap-8"
          >
            <div class="w-[2.25rem] h-[2.25rem]">
              <img src="/icons/play.png" alt="Play" class="" />
            </div>
            <div class="flex flex-col gap-4 self-stretch">
              <h3 class="text-2xl font-semibold leading-8">UI/UX Design</h3>
              <p class="text-base font-normal leading-7">
                Websites, applications or other design-related tasks. I love
                solving digital problems.
              </p>
            </div>
            <!--End  Card Customer-->
          </div>
          <!-- Card Customer-->
          <div
            class="flex rounded-lg shadow-lg bg-white xl:w-[18.75rem] p-8 flex-col items-start gap-8"
          >
            <div class="w-[2.25rem] h-[2.25rem]">
              <img src="/icons/watch.png " alt="Watch" class="" />
            </div>
            <div class="flex flex-col gap-4 self-stretch">
              <h3 class="text-2xl font-semibold leading-8">Data Science</h3>
              <p class="text-base font-normal leading-7">
                Combines tools, methodologies and technologies to extract
                meaning from data. It adds value to business information.
              </p>
            </div>
            <!--End  Card Customer-->
          </div>
        </aside>
      </div>
    </aside>
  </section>

  <!-- End Services Component -->
  <!-- Enterprise Component -->
  <section class="flex flex-col items-center mx-auto py-28 max-w-7xl gap-10">
    <div class="separator w-full">
      <span class="text">CRAFTED DEVELOPMENTS FOR</span>
    </div>
    <article
      class="flex w-full flex-wrap justify-center items-center gap-8 self-stretch"
    >
      <img
        class="hvr-grow"
        src="/images/branger.svg"
        width="150px"
        alt="Branger_Briz"
      />
      <img
        class="hvr-grow"
        src="/images/adidas.png"
        width="150px"
        alt="Adidas"
      />
      <img class="hvr-grow" src="/images/nike.png" width="70px" alt="Nike" />
      <img
        class="hvr-grow"
        src="/images/paramount.png"
        width="130px"
        alt="Paramount"
      />
    </article>
    <div class="separator w-full">
      <span class="text">MORE THAN 10+ BRANDS</span>
    </div>
  </section>
  <!-- End Enterprise Component -->
  <!-- About Component -->
  <section id="about" class="flex justify-center mx-auto py-28 max-w-7xl">
    <aside
      class="flex flex-wrap justify-center items-center p-8 shadow-lg gap-x-10"
    >
      <article class="max-w-[30rem]">
        <h3 class="font-semibold text-5xl">A little bit about me</h3>
        <p class="py-8 text-base font-normal leading-7">
          Hey 👋, I'm Camilo, a software engineer based in Cali, Colombia, who
          loves coding and creating products with a pleasant user experience.<br
          /> I love working between product, engineering and developer experience.
          Some things that excite me are JavaScript, open source, simplicity, automating
          things, creating meaningful user-centric products and learning every day.
          <br />I really enjoy learning from and supporting the open source
          community.
        </p>
      </article>
      <article>
        <img
          class="rounded-full"
          alt="camilohreina profile"
          src="/images/1.png"
        />
      </article>
    </aside>
  </section>
  <!-- End About Component -->

  <!-- Data component -->
  <section class="flex flex-col items-center mx-auto py-28 max-w-7xl gap-10">
    <div class="separator w-full"></div>
    <article
      class="flex flex-wrap justify-evenly items-center gap-10 self-stretch"
    >
      <div>
        <h3 class="text-4xl font-semibold">+5</h3>
        <span class="text">YEARS OF <br /> EXPERIENCE</span>
      </div>
      <div>
        <h3 class="text-4xl font-semibold">+6</h3>
        <span class="text">WEB AND MOBILE <br /> APPS SHIPPED</span>
      </div>
      <div>
        <h3 class="text-4xl font-semibold">+250</h3>
        <span class="text">TASKS <br /> COMPLETED</span>
      </div>
    </article>
    <div class="separator w-full"></div>
  </section>
  <a href="#hi" type="button" class="to-top">
    <svg
      fill="#000000"
      height="30px"
      width="30px"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 330 330"
      xml:space="preserve"
    >
      <path
        id="XMLID_224_"
        d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
   l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
   C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"
      ></path>
    </svg>
  </a>
  <!--End Data component -->
  <footer class="bg-black flex gap-10">
    <article
      class="flex justify-around gap-14 px-6 py-11 container mx-auto text-white"
    >
      <aside class="gap-10">
        <div class="mb-8">
          <p class="text-3xl font-semibold">Have an idea?</p>
          <p class="text-3xl">Let's talk ↗</p>
        </div>
        <div class="mt-8">
          <p class="text-lg">hi@differnt.dev</p>
        </div>
      </aside>
      <aside class="flex justify-center items-start gap-3.5">
        <a href="https://www.instagram.com/camilohreina/" target="_blank">
          <img src="/images/icon-instagram-white.svg" alt="camilohreina" />
        </a>
        <a href="https://gitlab.com/camilohreina" target="_blank">
          <img src="/images/icon-gitlab-white.svg" alt="juan_c.hernandez_r" />
        </a>
        <a href="https://github.com/camilohreina" target="_blank">
          <img src="/images/icon-github-white.svg" alt="camilohreina" />
        </a>
        <a
          href="https://www.linkedin.com/in/camilo-hern%C3%A1ndez-%E3%83%84-a684b219a/"
          target="_blank"
        >
          <img src="/images/icon-linkedin-white.svg" alt="camilohreina" />
        </a>
      </aside>
    </article>
  </footer>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.0625rem;
    background: linear-gradient(
      90deg,
      #9ca3af 0%,
      rgba(156, 163, 175, 0) 39.47%,
      rgba(156, 163, 175, 0) 50%,
      rgba(156, 163, 175, 0) 60.51%,
      #9ca3af 100%
    );
  }

  .text {
    color: #6b7280;
    text-align: center;

    /* Body sm / tracking-2 / SemiBold */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
  }
  .to-top {
    background-color: white !important;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    border: 1px solid #1f1f1f;
  }

  .active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }

  .fade-in-top {
    -webkit-animation: fade-in-top 0.6s ease-out both;
    animation: fade-in-top 0.6s ease-out both;
  }
  @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<script>
  const toTop = document.querySelector("#to-top");

  window.addEventListener("scroll", () => {
    if (window.pageYOffset > 100) {
      if (!toTop) return;
      toTop.classList.add("active");
    } else {
      if (!toTop) return;
      toTop.classList.remove("active");
    }
  });
</script>
