<!-- About Component -->
<section id="about" class="flex justify-center mx-auto py-28 max-w-7xl">
  <aside
    class="flex flex-wrap justify-center items-center p-8 shadow-lg gap-x-10"
  >
    <article class="max-w-[30rem]">
      <h3 class="font-semibold text-5xl">A little bit about me</h3>
      <p class="py-8 text-base font-normal leading-7">
        Hey 👋, I'm Camilo, a software engineer based in Cali, Colombia, who
        loves coding and creating products with a pleasant user experience.<br
        /> I love working between product, engineering and developer experience.
        Some things that excite me are JavaScript, open source, simplicity, automating
        things, creating meaningful user-centric products and learning every day.
        <br />I really enjoy learning from and supporting the open source
        community.
      </p>
    </article>
    <article>
      <img
        class="rounded-full"
        alt="camilohreina profile"
        src="/images/1.png"
      />
    </article>
  </aside>
</section>
<!-- End About Component -->
