<!-- Data component -->
<section class="flex flex-col items-center mx-auto py-28 max-w-7xl gap-10">
  <div class="separator w-full"></div>
  <article
    class="flex flex-wrap justify-evenly items-center gap-10 self-stretch"
  >
    <div>
      <h3 class="text-4xl font-semibold">+5</h3>
      <span class="text">YEARS OF <br /> EXPERIENCE</span>
    </div>
    <div>
      <h3 class="text-4xl font-semibold">+6</h3>
      <span class="text">WEB AND MOBILE <br /> APPS SHIPPED</span>
    </div>
    <div>
      <h3 class="text-4xl font-semibold">+250</h3>
      <span class="text">TASKS <br /> COMPLETED</span>
    </div>
  </article>
  <div class="separator w-full"></div>
</section>
<!-- End Data component -->
<style>
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.0625rem;
    background: linear-gradient(
      90deg,
      #9ca3af 0%,
      rgba(156, 163, 175, 0) 39.47%,
      rgba(156, 163, 175, 0) 50%,
      rgba(156, 163, 175, 0) 60.51%,
      #9ca3af 100%
    );
  }

  .text {
    color: #6b7280;
    text-align: center;

    /* Body sm / tracking-2 / SemiBold */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
  }
</style>
