<!-- Enterprise Component -->
<section class="flex flex-col items-center mx-auto py-28 max-w-7xl gap-10">
  <div class="separator w-full">
    <span class="text">CRAFTED DEVELOPMENTS FOR</span>
  </div>
  <article
    class="flex w-full flex-wrap justify-center items-center gap-8 self-stretch"
  >
    <img
      class="hvr-grow cursor-pointer"
      src="/images/branger.svg"
      width="150px"
      alt="Branger_Briz"
    />
    <img
      class="hvr-grow cursor-pointer"
      src="/images/adidas.png"
      width="150px"
      alt="Adidas"
    />
    <img
      class="hvr-grow cursor-pointer"
      src="/images/nike.png"
      width="70px"
      alt="Nike"
    />
    <img
      class="hvr-grow cursor-pointer"
      src="/images/paramount.png"
      width="130px"
      alt="Paramount"
    />
  </article>
  <div class="separator w-full">
    <span class="text">MORE THAN 10+ BRANDS</span>
  </div>
</section>
<!-- End Enterprise Component -->

<style>
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.0625rem;
    background: linear-gradient(
      90deg,
      #9ca3af 0%,
      rgba(156, 163, 175, 0) 39.47%,
      rgba(156, 163, 175, 0) 50%,
      rgba(156, 163, 175, 0) 60.51%,
      #9ca3af 100%
    );
  }

  .text {
    color: #6b7280;
    text-align: center;

    /* Body sm / tracking-2 / SemiBold */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
  }
</style>
