<footer class="bg-black flex gap-10">
  <article
    class="flex justify-around gap-14 px-6 py-11 container mx-auto text-white"
  >
    <aside class="gap-10">
      <div class="mb-8">
        <p class="text-3xl font-semibold">Have an idea?</p>
        <p class="text-3xl">Let's talk ↗</p>
      </div>
      <div class="mt-8">
        <p class="text-lg">hi@differnt.dev</p>
      </div>
    </aside>
    <aside class="flex justify-center items-start gap-3.5">
      <a href="https://www.instagram.com/camilohreina/" target="_blank">
        <img src="/images/icon-instagram-white.svg" alt="camilohreina" />
      </a>
      <a href="https://gitlab.com/camilohreina" target="_blank">
        <img src="/images/icon-gitlab-white.svg" alt="juan_c.hernandez_r" />
      </a>
      <a href="https://github.com/camilohreina" target="_blank">
        <img src="/images/icon-github-white.svg" alt="camilohreina" />
      </a>
      <a
        href="https://www.linkedin.com/in/camilo-hern%C3%A1ndez-%E3%83%84-a684b219a/"
        target="_blank"
      >
        <img src="/images/icon-linkedin-white.svg" alt="camilohreina" />
      </a>
    </aside>
  </article>
</footer>
