<!-- Navigator component -->
<section id="hi" class="w-full">
  <header
    class="py-6 px-4 md:px-10 flex items-center container justify-between"
  >
    <div><p class="font-bold text-xl">Differnt.</p></div>
    <nav>
      <ul
        class="flex [&>li>a]:text-sm md:[&>li>a]:text-base [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
      >
        <li><a href="#work">Work</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="https://blog.xdiffernt.com/" target="_blank">Blog</a></li>
        <li><a href="mailto:camilohreina.dev@gmail.com">Contact</a></li>
      </ul>
    </nav>
  </header>
</section>
<!-- End Navigator Components -->
