<!-- Presentation Component -->
<section class="py-28 flex flex-col items-center mx-auto max-w-7xl gap-10">
  <article class="flex flex-col gap-10 self-stretch">
    <h2 class="text-xl font-medium text-center">
      Hey there, I’m Camilo Hernández 👋
    </h2>
    <h1
      class="text-3xl md:text-5xl lg:text-7xl leading-normal font-semibold text-center"
    >
      Developing digital products, services and experience.
    </h1>
  </article>
  <article class="flex justify-center items-start gap-3.5">
    <a href="https://www.instagram.com/camilohreina/" target="_blank">
      <img
        class="hvr-grow"
        src="/images/icon-instagram.svg"
        alt="camilohreina"
      />
    </a>
    <a href="https://gitlab.com/camilohreina" target="_blank">
      <img
        class="hvr-grow"
        src="/images/icon-gitlab.svg"
        alt="juan_c.hernandez_r"
      />
    </a>
    <a href="https://github.com/camilohreina" target="_blank">
      <img class="hvr-grow" src="/images/icon-github.svg" alt="camilohreina" />
    </a>
    <a
      href="https://www.linkedin.com/in/camilo-hern%C3%A1ndez-%E3%83%84-a684b219a/"
      target="_blank"
    >
      <img
        class="hvr-grow"
        src="/images/icon-linkedin.svg"
        alt="camilohreina"
      />
    </a>
  </article>
</section>
