<!-- Projects Component -- TODO: Make card design-->
<section
  id="work"
  class="flex flex-col items-center gap-12 py-28 mx-auto max-w-7xl"
>
  <article class="flex w-full items-start gap-2 px-20">
    <h2 class="font-semibold text-3xl lg:text-5xl lg:leading-[3.75rem]">
      The work I do, <br /> and business I help.
    </h2>
  </article>
  <article
    class="flex w-full p-4 lg:p-0 items-start justify-around flex-wrap gap-8"
  >
    <section class="flex flex-col shadow-md rounded-md">
      <img alt="Adicustom" src="/projects/adidas-project.png" />
      <div class="flex flex-row justify-around items-center">
        <a class="py-2" href="https://uniforms.adicustom.com/" target="_blank">
          <h3 class="text-xl font-semibold leading-4">AdiCustom</h3>
        </a>
        <div class="flex flex-row justify-end gap-x-6 py-6 [&>img]:w-8">
          <img src="/images/typescript-gray.svg" alt="VueJs" />
          <img src="/images/vue-gray.svg" alt="VueJs" />
          <img src="/images/node-gray.svg" alt="ReactJs" />
        </div>
      </div>
    </section>

    <section class="flex flex-col shadow-md rounded-md">
      <img alt="Nikecustom Caps" src="/projects/nike-project.png" />
      <div class="flex flex-row justify-around items-center">
        <a class="py-2" href="https://nike.teamheadwear.com/" target="_blank">
          <h3 class="text-xl font-semibold leading-4">Nike Headwear</h3>
        </a>
        <div class="flex flex-row justify-end gap-x-6 py-6 [&>img]:w-8">
          <img src="/images/js-gray.svg" alt="VueJs" />
          <img src="/images/react-gray.svg" alt="ReactJs" />
          <img src="/images/node-gray.svg" alt="NodeJS" />
        </div>
      </div>
    </section>
  </article>
</section>
<!-- End Projects Component -->
<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  a {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 200ms;
  }

  a:hover {
    background-size: 0 2px, 100% 2px;
  }
</style>
